# Ignore arquivos de ambiente e banco de dados
.env
*.env
*.sql
systemloja.sql

# Ignore dependências do Composer
/vendor/

# Ignore arquivos temporários e de cache
*.log
*.tmp
*.cache
.DS_Store
Thumbs.db

# Ignore arquivos do VSCode
.vscode/
